body{
    position: relative;
	overflow-y: auto;
}
.background{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	background-image: url("img/canvas-grid.png");
	background-position: 446px 476px;
	z-index: -1;
}

.mainTitle{
	padding-right: 1.5em;
}
.infoSection{
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	padding-top: 200px;
	padding-bottom: 50px;
	transition: opacity 1s, padding-top 0.5s;
}
.infoSection .inner{
	border-radius: 10px;
	padding: 40px 40px;
	background-color: #F5F5F5;
	width: 100%;
	max-width: 1200px;
	min-height: 600px;
}
.infoSection .contain{
	padding-right: 40px;
	padding-left: 40px;
}
.infoSection h2{
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	border-bottom: 3px solid #AAA49D;
	margin-bottom: 20px;
	margin-top: 20px;
}
.infoSection h3{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
.infoSection p{
	font-size: 20px;
	margin-bottom: 20px;
}

.weaponList{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.weaponList .item{
	position: relative;
	width: 200px;
	min-width: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 3px solid #AAA49D;
	/*background-color: #3D362E;*/
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}
.weaponList .weaponImage{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 60px;
	position: absolute;
	top: -3px;
	background-color: #F5F5F5;
	border: 3px solid #AAA49D;
	border-bottom-right-radius: 63px;
	border-bottom-left-radius: 63px;
    border-top: 0;
}
.weaponList .weaponImage img{
	min-width: 160px;
	position: relative;
	top: -10px;
	transform: rotate(-30deg);
	user-select: none;
}
.weaponList p{
	margin-bottom: 10px;
	z-index: 10;
}
.weaponList .title{
	text-align: center;
	position: relative;
	font-weight: 700;
	font-size: 22px;
	margin-top: 45px;
	padding: 2px 8px;
	background-color: #F5F5F5;
}
.weaponList .description{
	text-align: center;
	font-size: 18px;
}
.weaponList ul{
	padding-top: 10px;
}
.weaponList li{
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 2px;
}
.weaponList li.good{
	color: #22B550;
}

.weaponList li.bad{
	color: #C43341;
}